build/*

*/xcuserdata/*

ZCSTransitionDemo.xcodeproj/project.xcworkspace/xcuserdata/cusen.xcuserdatad/UserInterfaceState.xcuserstate

ZCSTransitionDemo.xcodeproj/project.xcworkspace/xcuserdata/zcs.xcuserdatad/UserInterfaceState.xcuserstate

